@{
    ViewBag.Title = "Home Page";
}

<div style="background-image: url('~/Images/square-couple-at-check-in-top-view.jpg');">
<div class="jumbotron">
    <h1>Reservation Management Studio</h1>
    <p class="lead">All in one hotel management system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>
            A completely modern browser and API-based enterprise-ready, all-in-one solution for full-service resorts, boutiques and hotels. 
            This fully-integrated property management solutions suite runs the world’s most prestigious resorts.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
</div>