@model IEnumerable<N01520224_PassionProject_Reeservation.Models.ReservationDto>
@{
    ViewBag.Title = "List";
}

<form>
    <h2>Reservation Home Page</h2>
    <div>
        <a class="btn btn-default" href="/Guest/Add">Add Guest</a>
    </div>
    <div>
        <a class="btn btn-default" href="/Reservation/New">New Reservation</a>
    </div>

    @foreach (var reservation in Model)
    {
        <li><a href="/Reservation/Edit/@reservation.ReservationId">@reservation.ReservationNumber</a><label> - @reservation.ReservationStatus</label></li>
    }

</form>

